#body {
    background-color: #EAF6F6;
    margin: 0;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Sacramento', cursive;
    color: #EAF6F6; 
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

#header, #nav {
    background-color: #F1F1F1;
    border: 1px solid #ccc;
    /* border-bottom: dotted;
    border-bottom-width: 3px; */
    border-color: #6E85B7;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.h3 {
    font-family: 'Montserrat', sans-serif;
    color: #F1F1F1;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

#mycart, #customerservice, #home, #aboutus {
    display: inline-flex;
    text-align: center;
    justify-content: space-between;
    /* flex-direction: column; */
    position: relative;
}

#mycart{
    padding-left: 20%;
    padding-right: 10%; 
} 

#customerservice {
    padding-left: 20%;
    padding-right: 10%;
    /* margin-left: 100px; */
    /* position: static; */
}

#aboutus {
    float: right;
    margin-right: 35px;
    
}

#home {
    float: left;
    margin-left: 35px;
    position: static;
}
#asideleft {
    margin-top: 20px;
    position: static;
    width: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
}
#asideright {
    position: static;
    float: right;
    width: 49%;
    border: 1px solid #ccc;
    margin-bottom: 100px;
    margin-right: 10px;
    

}

#asideleft, #asideright {
    background-color: #F1F1F1;
    text-align: center;
    display: inline-flex;
}
#flexcontainer {
    display: flex;
    
   
}

aside:nth-child(1) {
    height: 400px;
}

aside:nth-child(2) {
    margin-top: 20px;
    height: 600px;
    
}

#flexchild {
    flex: 1;
    border: 2px solid #ccc;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #5584AC;
    
    
}

#albuminfo {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: #F1F1F1;
    padding-left: 10%;
    color: #F1F1F1;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

#albumcover {
    font-family: 'Montserrat', sans-serif;
    padding-left: 3%;
    color: #F1F1F1;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

#vinylcollection {
    padding-top: 10%;
    width: 80%;
    height: 60%;
    opacity: .7;
}

#albumimg {
    
    
}

#albumpicdiv {
    margin: 3px 3px auto 3px;
    border: 1px solid #ccc;
}


#tracklistdiv {
    margin: 3px 3px auto 3px;
    border: 1px solid #ccc;
}

#albumform {
    background-color: #F1F1F1;
    padding-top: 10%;
}

#footer {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F1F1F1;
    border: 1px solid #ccc;
    border-color: #6E85B7;
    text-align: center;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;

    font-weight: bold;
    font-size: 3rem;
    font-family: 'Sacramento', cursive;
    color: #EAF6F6; 
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}