#body {
    background-color: #EAF6F6;
    margin: 0;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Sacramento', cursive;
    color: #EAF6F6; 
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

#header, #nav {
    background-color: #F1F1F1;
    border: 1px solid #ccc;
    border-color: #6E85B7;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.h3 {
    font-family: 'Montserrat', sans-serif;
}

#mycart, #customerservice, #home, #aboutus {
    display: inline-flex;
    text-align: center;
    justify-content: space-between;
    /* flex-direction: column; */
    /* position: static; */
}

#mycart{
    padding-left: 20%;
    padding-right: 10%; 
} 

#customerservice {
    padding-left: 20%;
    padding-right: 10%;
    /* margin-left: 100px; */
    /* position: static; */
}

#aboutus {
    float: right;
    margin-right: 20px;
    position: static;
}

#home {
    float: left;
    margin-left: 20px;
    position: static;
}
#asideleft {
    margin-top: 20px;
    position: static;
    width: 50%;
    border: 1px solid #ccc;
    
}
#asideright {
    position: static;
    float: right;
    width: 49%;
    border: 1px solid #ccc;
    margin-bottom: 100px;
    

}

#asideleft, #asideright {
    background-color: #F1F1F1;
    text-align: center;
    display: inline-flex;
}
#flexcontainer {
    display: flex;
}

aside:nth-child(1) {
    height: 400px;
}

aside:nth-child(2) {
    margin-top: 20px;
    height: 600px;
}

#flexchild {
    flex: 1;
    border: 2px solid #ccc;
}

#albuminfo {
    font-family: 'Montserrat', sans-serif;
    background-color: #F1F1F1;
    padding-left: 10%;
}

#albumcover {
    font-family: 'Montserrat', sans-serif;
    padding-left: 10%;
}

#albumform {
    background-color: #F1F1F1;
    padding-top: 10%;
}

#footer {
    background-color: #F1F1F1;
    border: 1px solid #ccc;
    border-color: #6E85B7;
    text-align: center;
    width: 100%;
    padding-top: 5%;
}